<div class="blog-page-container mb-50">
    <div class="container">
        <div class="row">

            <div class="col-lg-12">
                <!--=======  blog post container  =======-->

                <div class="blog-post-container">

                    <div class="row">
                        <div class="col-lg-4 col-md-6" *ngFor="let blog of blogs">
                            <!--=======  single blog post  =======-->

                            <div class="single-blog-post mb-35">
                                <div class="row">
                                    <div class="col-lg-12">
                                        <div class="single-blog-post-media mb-20">
                                            <div class="image">
                                                <a href="blog-post-image-format.html"><img
                                                        width="700" height="665" src="assets/images/blog-image/{{blog.hinhAnh}}"
                                                        class="img-fluid" alt=""></a>
                                            </div>
                                            <div class="blog-categories">
                                                <ul>
                                                    <li><a href="#">Audio</a></li>
                                                    <li><a href="#">Travel</a></li>
                                                    <li><a href="#">company</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-12">
                                        <div class="single-blog-post-content">
                                            <h3 class="post-title"> <a routerLink="/blog-detail/{{blog.id}}"> {{blog.tieuDe}}</a></h3>
                                            <div class="post-meta">
                                                <p><span><i class="fa fa-user-circle"></i> Posted By: </span> <a
                                                        href="#">admin</a> <span class="separator">/</span> <span><i
                                                            class="fa fa-calendar"></i> Posted On: <a href="#">24
                                                            August, 2019</a></span></p>
                                            </div>

                                            <p class="post-excerpt">
                                                {{blog.noiDung}}
                                            </p>
                                            <a href="blog-post-image-format.html"
                                                class="blog-readmore-btn">continue</a>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <!--=======  End of single blog post  =======-->
                        </div>
                       
                    </div>
                </div>

                <!--=======  End of blog post container  =======-->

                <!--=======  Pagination container  =======-->

                <div class="pagination-container mb-sm-35 mb-xs-35">
                    <div class="container">
                        <div class="row">
                            <div class="col-lg-12">
                                <!--=======  pagination-content  =======-->

                                <div class="pagination-content text-center">
                                    <ul>
                                        <li><a class="active" href="#">1</a></li>
                                        <li><a href="#">2</a></li>
                                        <li><a href="#">3</a></li>
                                        <li><a href="#">4</a></li>
                                        <li><a href="#"><i class="fa fa-angle-right"></i></a></li>
                                    </ul>
                                </div>

                                <!--=======  End of pagination-content  =======-->
                            </div>
                        </div>
                    </div>
                </div>

                <!--=======  End of Pagination container  =======-->
            </div>
        </div>
    </div>
</div>