    <!-- Breadcrumb Start -->
    <div class="breadcrumb-area mt-30">
        <div class="container">
            <div class="breadcrumb">
                <ul class="d-flex align-items-center">
                    <li><a href="index.html">Home</a></li>
                    <li><a href="blog.html">Blog</a></li>
                    <li class="active"><a href="single-blog.html">{{blog.tieuDe}}</a></li>
                </ul>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Breadcrumb End -->
    <!-- Single Blog Page Start Here -->
    <div class="single-blog ptb-100  ptb-sm-60">
        <div class="container">
            <div class="row">
                <!-- Single Blog Sidebar Start -->
                <div class="col-lg-3 order-2 order-lg-1">
                    <aside>
                        <div class="single-sidebar latest-pro mb-30">
                            <h3 class="sidebar-title">{{blog.tieuDe}}</h3>
                            <ul class="sidbar-style">
                                <li><a href="shop.html">cameras</a></li>
                                <li><a href="shop.html">gamepad</a></li>
                                <li><a href="shop.html">digital cameras</a></li>
                                <li><a href="shop.html">virtual reality</a></li>
                            </ul>
                        </div>
                        <div class="col-img mb-30">
                            <a href="shop.html"><img src="img\banner\banner-sidebar.jpg" alt="slider-banner"></a>
                        </div>
                        <div class="single-sidebar mb-30">
                            <h3 class="sidebar-title">others</h3>
                            <ul class="sidbar-style">
                                <li><a href="login.html">Log in</a></li>
                                <li><a href="#">Entries <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                                <li><a href="#">Comments <abbr title="Really Simple Syndication">RSS</abbr></a></li>
                                <li><a href="#">Others link</a></li>
                            </ul>
                        </div>
                        <div class="tags">
                            <h3 class="sidebar-title">Tags</h3>
                            <div class="sidbar-style">
                                <ul class="tag-list">
                                    <li><a href="#">Branding</a></li>
                                    <li><a href="#">Creative</a></li>
                                    <li><a href="#">design</a></li>
                                    <li><a href="#">Latest</a></li>
                                    <li><a href="#">Male</a></li>
                                    <li><a href="#">Female</a></li>
                                </ul>
                            </div>
                        </div>
                    </aside>
                </div>
                <!-- Single Blog Sidebar End -->
                <!-- Single Blog Sidebar Description Start -->
                <div class="col-lg-9 order-1 order-lg-2">
                    <div class="single-sidebar-desc mb-all-40">
                        <div class="sidebar-img">
                            <img src="img\blog\10.jpg" alt="single-blog-img">
                        </div>
                        <div class="sidebar-post-content">
                            <h3 class="sidebar-lg-title">{{blog.tieuDe}}</h3>
                            <ul class="post-meta d-sm-inline-flex">
                                <li><span>Posted</span> by Demo Posthemes</li>
                                <li><span> {{blog.ngayDang }}</span></li>
                            </ul>
                        </div>
                        <div class="sidebar-desc mb-50">
                            {{blog.noiDung}}
                        </div>
                        <!-- Contact Email Area Start -->
                        <div class="blog-detail-contact">
                            <h3 class="mb-15 leave-reply">Leave a Reply</h3>
                            <div class="submit-review">
                                <form>
                                    <div class="form-group">
                                        <label for="usr">Your Name:</label>
                                        <input type="text" class="form-control" id="usr">
                                    </div>
                                    <div class="form-group">
                                        <label for="usr">your email:</label>
                                        <input type="email" class="form-control" id="email">
                                    </div>
                                    <div class="form-group">
                                        <label for="web-address">Website Url:</label>
                                        <input type="text" class="form-control" id="web-address">
                                    </div>
                                    <div class="form-group">
                                        <label for="sub">Subject:</label>
                                        <input type="text" class="form-control" id="sub">
                                    </div>
                                    <div class="form-group">
                                        <label for="comment">Comment:</label>
                                        <textarea class="form-control" rows="5" id="comment"></textarea>
                                    </div>
                                    <div class="sbumit-reveiew">
                                        <input value="Submit" class="return-customer-btn" type="submit">
                                    </div>
                                </form>
                            </div>
                        </div>
                        <!-- Contact Email Area End -->
                    </div>
                </div>
                <!-- Single Blog Sidebar Description End -->
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Single Blog Page End Here -->
    <!-- Support Area Start Here -->
    <div class="support-area bdr-top">
        <div class="container">
            <div class="d-flex flex-wrap text-center">
                <div class="single-support">
                    <div class="support-icon">
                        <i class="lnr lnr-gift"></i>
                    </div>
                    <div class="support-desc">
                        <h6>Great Value</h6>
                        <span>Nunc id ante quis tellus faucibus dictum in eget.</span>
                    </div>
                </div>
                <div class="single-support">
                    <div class="support-icon">
                        <i class="lnr lnr-rocket"></i>
                    </div>
                    <div class="support-desc">
                        <h6>Worlwide Delivery</h6>
                        <span>Quisque posuere enim augue, in rhoncus diam dictum non</span>
                    </div>
                </div>
                <div class="single-support">
                    <div class="support-icon">
                        <i class="lnr lnr-lock"></i>
                    </div>
                    <div class="support-desc">
                        <h6>Safe Payment</h6>
                        <span>Duis suscipit elit sem, sed mattis tellus accumsan.</span>
                    </div>
                </div>
                <div class="single-support">
                    <div class="support-icon">
                        <i class="lnr lnr-enter-down"></i>
                    </div>
                    <div class="support-desc">
                        <h6>Shop Confidence</h6>
                        <span>Faucibus dictum suscipit eget metus. Duis  elit sem, sed.</span>
                    </div>
                </div>
                <div class="single-support">
                    <div class="support-icon">
                        <i class="lnr lnr-users"></i>
                    </div>
                    <div class="support-desc">
                        <h6>24/7 Help Center</h6>
                        <span>Quisque posuere enim augue, in rhoncus diam dictum non.</span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Container End -->
    </div>
    <!-- Support Area End Here -->